@model MajorKeyTrucking.Data.Models.Broker

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Broker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BrokerId" class="control-label"></label>
                <input asp-for="BrokerId" class="form-control" />
                <span asp-validation-for="BrokerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrokerCompanyName" class="control-label"></label>
                <input asp-for="BrokerCompanyName" class="form-control" />
                <span asp-validation-for="BrokerCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrokerPhoneNumber" class="control-label"></label>
                <input asp-for="BrokerPhoneNumber" class="form-control" />
                <span asp-validation-for="BrokerPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrokerEmail" class="control-label"></label>
                <input asp-for="BrokerEmail" class="form-control" />
                <span asp-validation-for="BrokerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
